/*COMMONS*/
body {
	background-color: #fff;
	padding-top: 100px;

	overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}

.clear {
	clear: both;
}

/*FLEX*/
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex.inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.flex.space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flex.justify-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex.direction-column {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.flex.middle {
	-webkit-align-items: center;
	align-items: center;
}

.flex.align-end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.flex.center {
	-webkit-justify-content: center;
	justify-content: center;
}

.flex.wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*FLEX END*/

/*GRID*/
.row {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.column, .columns {
	padding-right: 25px;
	padding-left: 25px;
}
/*GRID END*/

/*TITLES*/
/*TYPE-1*/
.title.type-1 {
	font-family: 'Cormorant Infant';
	font-size: 72px;
	font-weight: 500;
	line-height: 72px;
	position: relative;
	z-index: 55;
}

.title.type-1.var-a {
	color: #fff;
}

.title.type-1.var-b {
	display: inline-block;
	color: #2d2d2d;
}

.title.type-1.var-b img {
	display: block;
	max-width: initial;
	width: 115%;
	height: 46px;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	bottom: -20px;
	left: -100%;
	z-index: -1;
}
/*TYPE-1 END*/

/*TYPE-2*/
.title.type-2 {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.title.type-2 .lines {
	height: 1px;
	position: relative;
}

.title.type-2 .lines.reversed {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.title.type-2 .lines > * {
	height: 100%;
}

.title.type-2 .lines > *:nth-child(1) {
	width: 2px;
}

.title.type-2 .lines > *:nth-child(2) {
	width: 5px;
}

.title.type-2 .lines > *:nth-child(3) {
	width: 11px;
}

.title.type-2 .lines > *:nth-child(4) {
	width: 21px;
}

.title.type-2 .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}

.title.type-2 span {
	display: inline-block;
	margin: 0px 20px;
}

.title.type-2.var-a {
	color: #e2d6c3;
}

.title.type-2.var-a .lines > * {
	background-color: #e2d6c3;
}

.title.type-2.var-b {
	color: #bba98c;
}

.title.type-2.var-b .lines > * {
	background-color: #bba98c;
}
/*TYPE-2 END*/

/*TYPE-3*/
.title.type-3 {
	font-family: 'Cormorant Infant';
	font-size: 36px;
	font-weight: 500;
	line-height: 46px;
}

.title.type-3.var-a {
	color: #2d2d2d;
}
/*TYPE-3 END*/

/*TYPE-4*/
.title.type-4 {
	font-family: 'Cormorant Infant';
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
}

.title.type-4.var-a {
	color: #2d2d2d;
}

.title.type-4.var-b {
	color: #7f7f7f;
}
/*TYPE-4 END*/

/*TYPE 5*/
.title.type-5 {
	font-family: 'Cormorant Infant';
	font-size: 24px;
	font-weight: 300;
}

.title.type-5.regular {
	font-weight: 400;
}

.title.type-5.medium {
	font-weight: 500;
}

.title.type-5.var-a {
	color: #717070;
}

.title.type-5.var-b {
	color: #d0c5ae;
}

.title.type-5.var-c {
	color: #2d2d2d;
}
/*TYPE 5 END*/
/*TITLES END*/

/*TEXTS*/
.text.text-1 {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 300;
}

.text.text-1.var-a {
	color: #fff;
}

.text.text-1.var-b {
	color: #2d2d2d;
}

.text.text-2 {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
}

.text.text-2.var-a {
	color: #fff;
}

.text.text-2.var-b {
	color: #484949;
}

.text.text-2.var-c {
	color: #d0d0d0;
}

.text.text-2.var-d {
	color: #a0a0a0;
}

.text.text-3 {
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
}

.text.text-3.var-a {
	color: #2d2d2d;
}

.text.text-3.var-b {
	font-weight: 400;
	color: #2d2d2d;
}

.text.text-4 {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 2px;
}

.text.text-4.var-a {
	color: rgba(45, 45, 45, 0.45);
}

.text.text-4.var-b {
	color: #bba98c;
}

.text.text-4.var-c {
	text-transform: uppercase;
	color: #2d2d2d;
}

.text.text-5 {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
}

.text.text-5.var-a {
	color: #2d2d2d;
}

.text.text-5.var-b {
	color: rgba(255, 255, 255, 0.25);
}

.content {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 20px;
}

.content.var-a {
	color: #717070;
}

.content.var-b {
	color: #2d2d2d;
}

.content h5 {
	font-family: 'Cormorant Infant';
	font-size: 30px;
	font-weight: 500;
	line-height: 42px;
	margin-top: 70px;
}

.content > *:not(:nth-last-child(1)) {
    margin-bottom: 35px;
}
/*TEXTS END*/

/*BUTTONS*/
.button {
	cursor: pointer;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.button.type-1 {
	font-family: 'Roboto';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	background-color: #c3242b;
	border: none;
	border-radius: 25px;
	display: inline-block;
	padding: 13px 44px;
}

.button.type-1:hover {
	-webkit-filter: brightness(120%);
	-o-filter: brightness(120%);
	filter: brightness(120%);
}

.button.type-2 {
	background-color: #d0c5ae;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	position: relative;
}

.button.type-2:hover {
	-webkit-filter: brightness(110%);
	-o-filter: brightness(110%);
	filter: brightness(110%);
}

.button.type-2.minus:before {
	content: '';
	background-color: #fff;
	width: 7px;
	height: 1px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.button.type-2.plus:before {
	content: '';
	background-color: #fff;
	width: 7px;
	height: 1px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.button.type-2.plus:after {
	content: '';
	background-color: #fff;
	width: 1px;
	height: 7px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.button.type-3 {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #2d2d2d;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #c3242b;
	border-radius: 25px;
	display: inline-block;
	padding: 13px 44px;
	position: relative;
}

.button.type-3:hover {
	color: #fff;
	background-color: #c3242b;
}

.button.type-3.var-a {
	color: #fff;
}

.button.type-3.min-width-230 {
	min-width: 230px; 
}
/*BUTTONS END*/

/*LINKS*/
.link.type-1 {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;

	cursor: pointer;
}

.link.type-1.var-a {
	color: #c3242b;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.link.type-1.var-a:hover {
	
}

.link.type-1.var-b {
	color: #767676;
	padding-left: 40px;
}

.link.type-1 img {
	display: inline-block;
	width: 8px;
	position: relative;
	bottom: 2px;
	left: 30px;

	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.link.type-1:hover img {
	-webkit-transform: rotate(-90deg) translateY(10px);
	-ms-transform: rotate(-90deg) translateY(10px);
	-o-transform: rotate(-90deg) translateY(10px);
	transform: rotate(-90deg) translateY(10px);
}

.link.type-1 img.left {
	right: 30px;
	left: initial;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.link.type-1:hover img.left {
	-webkit-transform: rotate(90deg) translateY(10px);
	-ms-transform: rotate(90deg) translateY(10px);
	-o-transform: rotate(90deg) translateY(10px);
	transform: rotate(90deg) translateY(10px);
}

.link.type-2 {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	color: #2d2d2d;
}

.link.type-2 i {
	font-size: 18px;
	color: #c3242b;
	margin-right: 10px;
}

.link.type-2 i.var-a {
	font-size: 16px;
}

.link.type-3 {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	color: #2d2d2d;
}

.link.type-3 i {
	font-size: 18px;
	color: #c3242b;
	margin-right: 10px;
}

.link.type-3 i.var-a {
	font-size: 16px;
}
/*LINKS END*/

/*SOCIALS*/
.socials {
	font-size: 16px;

	pointer-events: all;
}

.socials a {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.socials a:not(:nth-last-child(1)) {
	margin-right: 20px;
}

.socials.var-a a {
	display: block;
	color: #fff;
}

.socials.var-a a:hover {
	color: #c3242b;
}

.socials.var-b a {
	display: block;
	color: #2d2d2d;
}

.socials.var-b a:hover {
	color: #c3242b;
}
/*SOCIALS END*/

/*FORMS*/
.input-outer {
	height: 33px;
	margin-bottom: 60px;
}

.input-outer.submit {
	margin-bottom: 0px;
}

.input-outer.field-discount {
	display: none;
}

.input-outer .help-block {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 22px;
	color: #c3242b;
	margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 22px;
	color: #2d2d2d;
	background: none;
	outline: none;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #cccccc;
	display: block;
	width: 100%;
	padding-bottom: 15px;
}

.input-outer.textarea {
	height: 126px;
	position: relative;
}

.input-outer.textarea textarea {
	height: 100%;

	resize: none;
}

.input-outer.select {
	position: relative;
}

.input-outer.select:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 3.5px 0 3.5px;
	border-color: #c9c9c9 transparent transparent transparent;
	position: absolute;
	right: 0px;
	bottom: 16px;
}

option[disabled] {
	display: none;
}

label.radio-label {
	cursor: pointer;
}

label.radio-label:not(:nth-last-child(1)) {
	margin-right: 75px;
}

label.radio-label input[type="radio"] {
	display: none;
}

label.radio-label .visual-radio {
	border: 1px solid #cdcdcd;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	padding: 3px;
	margin-right: 6px;
}

label.radio-label .visual-radio:before {
	content: '';
	opacity: 0;
	background-color: #c3242b;
	border-radius: 50%;
	display: block;
	width: 100%;
	height: 100%;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

label.radio-label input[type="radio"]:checked+.visual-radio:before {
	opacity: 1;
}

form .caption {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 22px;
	color: #2d2d2d;
	margin-bottom: 7px;
}
/*FORMS END*/

/*DISCOUNT*/
.discount-icon {
	background-position: center;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 77;

	cursor: pointer;
}

.discount-icon.var-0 {
	background-image: url(../img/categories/biscuit.svg);
}

.discount-icon.var-1 {
	background-image: url(../img/categories/cake.svg);
}

.discount-icon.var-2 {
	background-image: url(../img/categories/desserts.svg);
}

.discount-icon.var-3 {
	background-image: url(../img/categories/eclair.svg);
}

.discount-icon.var-4 {
	background-image: url(../img/categories/macaroon.svg);
}

.discount-icon.var-5 {
	background-image: url(../img/categories/pie.svg);
}

.discount > span.text {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.discount > span.text.active {
	color: #c3242b;
}

.discount-pop-up {
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 111;
	
	visibility: hidden;

	pointer-events: none;
}

.discount-pop-up .inner {
	text-align: center;
	background-color: #fff;
	padding: 40px 50px;
	position: relative;

	pointer-events: all;
}

.discount-pop-up .inner:before {
	content: '';
	border: 1px solid #e2d6c3;
	width: calc(100% - 12px);
	height: calc(100% + 12px);
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}
/*DISCOUNT END*/
/*COMMONS END*/

/*HEADER*/
.dark-background {
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 101;
}

header {
	background-color: #fff;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 111;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header .row {
	max-width: initial;
	height: 100%;
}

header .logo {
	display: block;
	width: 190px;
	position: relative;
	z-index: 77;
}

header .logo > * {
	display: block;
	width: 100%;
}

header .logo > * .st3,
header .logo > * .st3 {
	fill: #303130;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header.menu-opened .logo > * .st3,
header.menu-opened .logo > * .st3,
header .logo:hover > * .st3,
header .logo:hover > * .st3 {
	fill: #303130;
}

header .language-outer {
	display: block;
	margin-left: 50px;
	position: relative;
	z-index: 77;

	cursor: pointer;
}

header .language-outer:before {
	content: '';
	width: calc(100% + 20px);
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 55;
}

header .language-outer:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 3.5px 0 3.5px;
	border-color: #2d2d2d transparent transparent transparent;
	position: absolute;
	top: 8px;
	right: -20px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header .language-outer:hover:after {
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

header .language-outer .current {
	color: #2d2d2d !important;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header .language-outer:hover .current {
	opacity: 0.6;
}

header .language-outer .language-list {
	opacity: 0;
	padding-top: 30px;
	position: absolute;
	top: 0px;

	pointer-events: none;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header .language-outer:hover .language-list {
	width: calc(100% + 20px);
	opacity: 1;

	pointer-events: all;
}

header .language-outer .language-list > * {
	color: #2d2d2d !important;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header .language-outer .language-list > *:hover {
	color: #c3242b !important;
}

header .el-a1 {
	margin-left: 50px;
}

.menu-button {
	border: 1px solid #d0c5ae;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding: 3px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 77;

	overflow: hidden;

	cursor: pointer;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.menu-button .inner {
	background-color: #d0c5ae;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.menu-button .inner .lines {
	display: block;
	width: 27px;
	height: 16px;
	position: relative;
}

.menu-button .inner .lines > * {
	background-color: #fff;
	width: 100%;
	height: 2px;
}

.menu-button .inner .lines > *:not(:nth-last-child(1)) {
	margin-bottom: 5px;
}

header .discount {
	margin-right: 100px;
}

header .discount .lines {
	height: 11px;
	position: relative;
}

header .discount .lines > * {
	background-color: #d0d0d0;
	display: block;
	width: 1px;
	height: 100%;
	margin-right: 19px;
}

header .discount .lines > *.active {
	background-color: #c3242b;
}

header .basket > *:nth-child(1) {
	margin-right: 10px;
}

header .basket {
	cursor: pointer;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header .basket .icon {
	display: block;
	width: 20px;
	position: relative;
	bottom: 2px;
}

header .basket.not-empty .text {
	color: #c3242b;
}

header .basket.not-empty .icon path {
	fill: #c3242b;
}

header.menu-opened {
	-webkit-transform: translateY(0px) !important;
	-ms-transform: translateY(0px) !important;
	-o-transform: translateY(0px) !important;
	transform: translateY(0px) !important;
}

header menu {
	width: calc(50% + 60px);
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 55;
}

header menu .background {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

header menu .wrapper {
	width: 100%;
	height: 100%;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	float: right;
}

header menu .blocks.type-1 {
	height: 100%;
	padding: 0px 25px;
}

header menu .block.type-2 {
	
}

header menu .discount {
	display: none;
}

header menu .list.type-1 {
	text-align: center;
}

header menu .list.type-1 ul {
	margin-bottom: 40px;
}

header menu .list.type-1 li:not(:nth-last-child(1)) {
	margin-bottom: 20px;
}

header menu .list.type-1 ul li a {
	font-family: 'Cormorant Infant';
	font-size: 30px;
	font-weight: 500;
	color: #2d2d2d;
	display: inline-block;
	position: relative;
	z-index: 55;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header menu .list.type-1 ul li a.inactive {
	opacity: 0.3;
}

header menu .list.type-1 ul li a:before {
	content: '';
	background-image: url(../img/smear_red_2.png);
	background-repeat: no-repeat;
	background-size: 100% 70%;
	background-position: left center;
	width: 115%;
	height: 70%;
	position: absolute;
	left: -7.5%;
	bottom: -12px;
	z-index: -11;

	pointer-events: none;
}

header menu .list.type-1 ul li a:after {
	content: '';
	background-color: #fff;
	width: 115%;
	height: 70%;
	position: absolute;
	right: -7.5%;
	bottom: -12px;
	z-index: -1;

	pointer-events: none;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header menu .list.type-1 ul li a:hover:after {
	width: 0px;
}

header menu .block.type-3 {
	width: 100%;
	height: 100px;
	position: relative;
}

header menu .block.type-3 .el-a2 {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;

	pointer-events: none;
}

header menu .block.type-3 .el-a2 > * {
	pointer-events: all;
}

header menu .block.type-3 .lines {
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0px;
	left: 0px;
}

header menu .block.type-3 .lines > * {
	background-color: #bba98c;
}

header menu .block.type-3 .lines > *:nth-child(1),
header menu .block.type-3 .lines > *:nth-last-child(1) {
	width: 2px;
}

header menu .block.type-3 .lines > *:nth-child(2),
header menu .block.type-3 .lines > *:nth-last-child(2) {
	width: 5px;
}

header menu .block.type-3 .lines > *:nth-child(3),
header menu .block.type-3 .lines > *:nth-last-child(3) {
	width: 11px;
}

header menu .block.type-3 .lines > *:nth-child(4) {
	width: calc(100% - 54px);
}

header menu .block.type-3 .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}
/*HEADER END*/

/*BASKET MENU*/
.basket-menu {
	display: none;
	width: calc(50% + 60px);
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 111;
}

.basket-menu .el-1 {
	width: 95px;
}

.basket-menu .el-2 {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	color: #c3242b;
	display: none;
	margin-right: 40px;
}

.basket-menu .el-2.active {
	display: block;
}

.basket-menu .empty {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
}

.basket-menu .background {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
}

.basket-menu .wrapper {
	width: 100%;
	height: 100%;
	padding-top: 35px;
	padding-right: 30px;
	padding-left: 30px;
}

.basket-menu .blocks.type-1 {
	height: 100%;
	padding: 0px 25px;
}

.basket-menu .blocks.type-1 .block {
	width: 100%;
}

.basket-menu .blocks.type-1 .block.type-1 .discount {
	margin-right: 100px;
}

.basket-menu .blocks.type-1 .block.type-1 .discount .lines {
	height: 11px;
	position: relative;
}

.basket-menu .blocks.type-1 .block.type-1 .discount .lines > * {
	background-color: #d0d0d0;
	display: block;
	width: 1px;
	height: 100%;
	margin-right: 19px;
}

.basket-menu .blocks.type-1 .block.type-1 .discount .lines > *.active {
	background-color: #c3242b;
}

.basket-menu .blocks.type-1 .block.type-1 .close {
	width: 27px;
	height: 16px;
	position: relative;

	cursor: pointer;
}

.basket-menu .blocks.type-1 .block.type-1 .close:before,
.basket-menu .blocks.type-1 .block.type-1 .close:after {
	content: '';
	background-color: #2e2e2e;
	display: block;
	width: 100%;
	height: 2px;
	
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.basket-menu .blocks.type-1 .block.type-1 .close:hover:before,
.basket-menu .blocks.type-1 .block.type-1 .close:hover:after {
	background-color: #c3242b;
}

.basket-menu .blocks.type-1 .block.type-1 .close:before {
	-webkit-transform: translateY(7px) rotateZ(45deg);
	-ms-transform: translateY(7px) rotateZ(45deg);
	-o-transform: translateY(7px) rotateZ(45deg);
	transform: translateY(7px) rotateZ(45deg);
}

.basket-menu .blocks.type-1 .block.type-1 .close:after {
	-webkit-transform: translateY(-7px) rotateZ(-45deg);
	-ms-transform: translateY(-7px) rotateZ(-45deg);
	-o-transform: translateY(-7px) rotateZ(-45deg);
	transform: translateY(-7px) rotateZ(-45deg);
}

.basket-menu .blocks.type-1 .block.type-2 {
	height: calc(100% - 250px);
}

.basket-menu .blocks.type-1 .block.type-2 .list.type-1 {
	padding-right: 13px;
}

.basket-menu .blocks.type-1 .block.type-2 .list.type-1 > *:not(:nth-last-child(1)) {
	margin-bottom: 20px;
}

.basket-menu .blocks.type-1 .block.type-2 .name {
	width: calc(100% - 375px);
}

.basket-menu .blocks.type-1 .block.type-2 .info {
	width: 375px;
}

.basket-menu .blocks.type-1 .block.type-2 .info .icon {
	width: 43px;
	position: relative;
}

.basket-menu .blocks.type-1 .block.type-2 .info .icon > * {
	display: block;
}

.basket-menu .blocks.type-1 .block.type-2 .info .weight {
	width: 50px;
}

.basket-menu .blocks.type-1 .block.type-2 .info .price {
	text-align: center;
	width: 110px;
}

.basket-menu .blocks.type-1 .block.type-2 .info .counter .variant-total {
	font-family: 'Roboto';
	margin: 0px 10px;
}

.basket-menu .blocks.type-1 .block.type-2 .info .remove {
	width: 12px;
	height: 12px;
	position: relative;

	cursor: pointer;
}

.basket-menu .blocks.type-1 .block.type-2 .info .remove:before,
.basket-menu .blocks.type-1 .block.type-2 .info .remove:after {
	content: '';
	background-color: #999999;
	display: block;
	width: 100%;
	height: 1px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.basket-menu .blocks.type-1 .block.type-2 .info .remove:hover:before,
.basket-menu .blocks.type-1 .block.type-2 .info .remove:hover:after {
	background-color: #c3242b;
}

.basket-menu .blocks.type-1 .block.type-2 .remove:before {
	-webkit-transform: translateY(5px) rotateZ(45deg);
	-ms-transform: translateY(5px) rotateZ(45deg);
	-o-transform: translateY(5px) rotateZ(45deg);
	transform: translateY(5px) rotateZ(45deg);
}

.basket-menu .blocks.type-1 .block.type-2 .remove:after {
	-webkit-transform: translateY(-6px) rotateZ(-45deg);
	-ms-transform: translateY(-6px) rotateZ(-45deg);
	-o-transform: translateY(-6px) rotateZ(-45deg);
	transform: translateY(-6px) rotateZ(-45deg);
}

.basket-menu .blocks.type-1 .block.type-3 {
	width: 100%;
	height: 100px;
	position: relative;
}

.basket-menu .blocks.type-1 .block.type-3 .lines {
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.basket-menu .blocks.type-1 .block.type-3 .lines > * {
	background-color: #bba98c;
}

.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-child(1),
.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-last-child(1) {
	width: 2px;
}

.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-child(2),
.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-last-child(2) {
	width: 5px;
}

.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-child(3),
.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-last-child(3) {
	width: 11px;
}

.basket-menu .blocks.type-1 .block.type-3 .lines > *:nth-child(4) {
	width: calc(100% - 54px);
}

.basket-menu .blocks.type-1 .block.type-3 .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}

.basket-menu .total.active {
	font-size: 24px;
}

.basket-menu .total.active span {
	color: #c3242b;
}

.basket-menu .total.active .discount-calculation {
	color: #d0d0d0;
}

/*SCROLL*/
.basket-menu .blocks.type-1 .block.type-2 .mCSB_scrollTools {
	right: -7px;
}

.basket-menu .blocks.type-1 .block.type-2 .mCSB_inside>.mCSB_container {
	margin-right: 0px;
}

.basket-menu .blocks.type-1 .block.type-2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #c3242b;
	width: 2px;
	border-radius: 0px;
}

.basket-menu .blocks.type-1 .block.type-2 .mCSB_scrollTools .mCSB_draggerRail {
	background: none;
}
/*SCROLL END*/
/*BASKET MENU END*/

.back-call-button-outer {
	height: 50px;
	margin: auto 0px;
	position: fixed;
	top: 0px;
	right: 25px;
	bottom: 0px;
	z-index: 99;

	cursor: pointer;
}

.back-call-button-outer .el-1 {
	border: 1px solid #d0c5ae;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.back-call-button-outer .el-1 i {
	font-size: 18px;
	color: #c3242b;
}

.back-call-button-outer .el-2 {
	display: none;
}

.back-call-button-outer .el-2 .inner {
	border-radius: 25px;
	background-color: #c3242b;
	border: 1px solid #c3242b;
	height: 50px;
	padding-right: 18px;
	padding-left: 18px;
	position: relative;
}

.back-call-button-outer .el-2 span {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	margin-right: 16px;
}

.back-call-button-outer .el-2 i {
	font-size: 18px;
	color: #fff;
}

/*FOOTER*/
footer {
	background-color: #f7f3ec;
	width: 100%;
	position: relative;
}

footer .wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

footer .logo_button-outer .button-el-1 {
	margin-top: 50px;
	margin-bottom: 50px;
}

footer .logo {
	display: block;
	max-width: 200px;
	position: relative;
}

footer .logo > * {
	display: block;
	width: 100%;
}

footer .el-2 ul li:not(:nth-last-child(1)) {
	margin-bottom: 20px;
}

footer .el-2 ul li a {
	position: relative;
}

footer .el-2 ul li a:before {
	content: '';
	background-color: #2d2d2d;
	width: 0px;
	height: 1px;
	position: absolute;
	bottom: -4px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

footer .el-2 ul li a:hover:before {
	width: 100%;
}

footer .el-3 .element:not(:nth-last-child(1)) {
	margin-bottom: 30px;
}

footer .el-3 .text-el-1 {
	margin-bottom: 10px;
	position: relative;
}

footer .el-3 .text-el-1 i {
	font-size: 18px;
	color: #c3242b;
	position: absolute;
	top: 3px;
	left: -25px;
}

footer .el-4 .text-el-1:not(:nth-last-child(1)) {
	margin-bottom: 30px;
}
/*FOOTER END*/

/*SECTION PAGINATION*/
.section-pagination {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;

	pointer-events: none;
}

.section-pagination .wrapper {
	max-width: 1380px;
	height: 100vh;
	padding: 0px 25px;
	margin: 0px auto;
}

.section-pagination .outer {
	max-width: 1380px;
	width: 23px;
	height: 100%;
	position: relative;
	top: 30px;

	pointer-events: all;
}

.section-pagination .section-title {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 4px;
	color: #a0a0a0;
	width: 160px;
	margin-bottom: 30px;
	position: relative;
	left: 70px;
	z-index: 55;

	overflow: hidden;

	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.section-pagination.light .section-title {
	color: #fff;
}

.section-pagination .section-title > * {
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

.section-pagination .section-title > *:nth-child(1) {
	opacity: 1;
	position: relative;
}

.section-pagination .pagination > * {
	display: block;
	width: 23px;
	height: 1px;
	position: relative;
}

.section-pagination .pagination > *:not(:nth-last-child(1)) {
	margin-bottom: 29px;
}

.section-pagination .pagination > *.active {
	pointer-events: none;
}

.section-pagination .pagination > *:before {
	content: '';
	background-color: #2d2d2d;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.section-pagination.light .pagination > *:before {
	background-color: #fff;
}

.section-pagination .pagination > *:after {
	content: '';
	background-color: #c3242b;
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.section-pagination .pagination > *.active:after,
.section-pagination .pagination > *:hover:after {
	width: 100%;
}

.section-pagination .pagination > * span {
	font-family: 'Cormorant Infant';
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: #2d2d2d;
	width: 25px;
	height: 38px;
	margin: auto;
	position: absolute;
	top: -100%;
	right: -100%;
	bottom: -100%;
	left: -100%;
	
	opacity: 0;

	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.section-pagination.light .pagination > * span {
	color: #fff;
}

.section-pagination .pagination > *.active span {
	opacity: 1;

	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
/*SECTION PAGINATION END*/

/*SECTION TYPE 1*/
section.type-1 {
	background-image: url(../img/background_1.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

	overflow: hidden;
}

section.type-1 video {
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 55;
}

section.type-1 .section-type-1-header {
	padding-top: 18px;
	position: relative;
	z-index: 77;
}

section.type-1 .section-type-1-header .column .menu-button {
	border-color: #E01F26;
	display: none;
	position: relative;
}

section.type-1 .section-type-1-header .column .menu-button .inner {
	background-color: #E01F26;
}

section.type-1 .logo {
	display: block;
	max-width: 220px;
	position: relative;
}

section.type-1 .logo > * {
	display: block;
	width: 100%;
}

section.type-1 .language-outer {
	position: relative;

	cursor: pointer;
}

section.type-1 .language-outer:before {
	content: '';
	width: calc(100% + 20px);
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 55;
}

section.type-1 .language-outer:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 3.5px 0 3.5px;
	border-color: #989694 transparent transparent transparent;
	position: absolute;
	top: 8px;
	right: -20px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-1 .language-outer:hover:after {
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

section.type-1 .language-outer .current {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-1 .language-outer:hover .current {
	opacity: 0.6;
}

section.type-1 .language-outer .language-list {
	opacity: 0;
	width: calc(100% + 20px);
	padding-top: 30px;
	position: absolute;
	top: 0px;

	pointer-events: none;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-1 .language-outer .language-list > div {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-1 .language-outer .language-list > div:hover {
	color: #c3242b;
}

section.type-1 .language-outer:hover .language-list {
	opacity: 1;

	pointer-events: all;
}

section.type-1 .menu ul li:not(:nth-last-child(1)) {
	margin-right: 25px;
}

section.type-1 .menu ul li a {
	position: relative;
}

section.type-1 .menu ul li a:before {
	content: '';
	background-color: #fff;
	width: 0px;
	height: 1px;
	position: absolute;
	bottom: -4px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-1 .menu ul li a:hover:before {
	width: 100%;
}

section.type-1 .basket {
	cursor: pointer;
}

section.type-1 .basket > *:nth-child(1) {
	margin-right: 10px;
}

section.type-1 .basket .icon {
	display: block;
	width: 20px;
	position: relative;
	bottom: 2px;
}

section.type-1 .section-type-1-content {
	text-align: center;
	max-width: 1380px;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 60px 0px 60px 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 66;
}

section.type-1 .section-type-1-content .el-1 {
	margin-bottom: 5px;
}

section.type-1 .section-type-1-content .el-2 {
	margin-bottom: 45px;
}

section.type-1 .buttons-outer > *:not(:nth-last-child(1)) {
	margin-right: 21px;
}

section.type-1 .tip-arrow {
	width: 10px;
	height: 45px;
	margin: auto;
	position: absolute;
	right: 0px;
	bottom: 110px;
	left: 0px;
	z-index: 66;
}

section.type-1 .tip-arrow img {
	position: relative;
	bottom: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-1 .tip-arrow:hover img {
	bottom: -10px;
}

section.type-1 .socials {
	position: absolute;
	right: 25px;
	bottom: 105px;
}

section.type-1 .smear-top {
	min-width: 100%;
	height: auto;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	bottom: 0px;
	left: -100%;
	z-index: 77;
}
/*SECTION TYPE 1 END*/

/*SECTION TYPE 2*/
section.type-2 .wrapper {
	padding: 60px 0px 40px 0px;

	overflow: hidden;
}

section.type-2.var-a .wrapper {
	padding-top: 120px;
}

section.type-2 .el-1 {
	text-align: center;
}

section.type-2 .el-2 {
	margin-bottom: 5px;
}

section.type-2 .el-3 {
	margin-bottom: 75px;
}

section.type-2 .el-4 {
	margin-bottom: 10px;
}

section.type-2 .el-5 {
	min-height: 70px;
	margin-bottom: 20px;
}

section.type-2 .el-6 {
	margin-bottom: 50px;
}

section.type-2 .el-7 {
	margin-right: 25px;
}

section.type-2 .el-8 {
	text-align: center;
}

section.type-2 .product {
	margin-bottom: 45px;
	position: relative;
}

section.type-2 .product .inner {
	background-color: #fff;
	max-width: 1000px;
	height: 480px;
	padding: 40px 50px;
	margin: 0px auto;
	position: relative;
}

section.type-2 .product .inner .frame-1 {
	border: 1px solid #e2d6c3;
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-2 .product .inner .frame-2 {
	border: 1px solid #e2d6c3;
	width: calc(100% - 8px);
	height: calc(100% + 8px);
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-2 .product .slides-counter {
	font-family: 'Cormorant Infant';
	font-size: 20px;
	color: #a0a0a0;
	position: absolute;
	z-index: 55;
}

section.type-2 .product .slides-counter .current {
	font-size: 36px;
	color: #2d2d2d;
	position: relative;
	top: -6px;
}

section.type-2 .product .inner .product-row {
	height: 100%;
	padding-left: 15px;
}

section.type-2 .product .inner .images {
	width: calc(100% - 440px);
	position: relative;
}

section.type-2 .product .inner .images img {
	opacity: 0;
	display: block;
	max-height: 400px;
	margin: auto;
	position: absolute;
	top: -100%;
	bottom: -100%;
	right: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-2 .product .inner .images img:nth-child(1) {
	opacity: 1;
	position: relative;
}

section.type-2 .product .info-outer {
	width: 380px;
	height: 100%;
	position: relative;
}

section.type-2 .product .info-outer .info {
	opacity: 0;

	display: none;

	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-2 .product .info-outer .info:nth-child(1) {
	opacity: 1;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	position: static;
}

section.type-2 .product .variants {
	text-align: center;
	max-width: 350px;
}

section.type-2 .product .variants .variant:not(:nth-last-child(1)) {
	margin-bottom: 10px;
}

section.type-2 .product .variants .icon {
	width: 43px;
	position: relative;
}

section.type-2 .product .variants .icon > * {
	display: block;
}

section.type-2 .product .variants .weight {
	width: 50px;
}

section.type-2 .product .variants .price {
	width: 110px;
}

section.type-2 .product .variants .counter .variant-total {
	font-family: 'Roboto';
	margin: 0px 10px;
}

section.type-2 .product .inner .another-product {
	width: 85px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;

	cursor: pointer;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

section.type-2 .product .inner .another-product.prev {
	left: -110px;
}

section.type-2 .product .inner .another-product.next {
	right: -110px;
}

section.type-2 .product .inner .another-product .list {
	font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;   
    letter-spacing: 4px;
    color: #a0a0a0;
    width: 260px;
    flex: 1 0 auto;
    position: absolute;
    z-index: 55;

    overflow: hidden;

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

section.type-2 .product .inner .another-product.prev .list {
	left: -50px;
}

section.type-2 .product .inner .another-product.next .list {
	right: -50px;
}

section.type-2 .product .inner .another-product .list > * {
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-2 .product .inner .another-product .list > *:nth-child(1) {
	opacity: 1;
	position: relative;
}

section.type-2 .product .inner .another-product .arrow {
	width: 11px;
	position: relative;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-2 .product .inner .another-product.prev .arrow {
	left: 20px;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

section.type-2 .product .inner .another-product.prev:hover .arrow {
	-webkit-transform: rotate(90deg) translateY(10px);
	-ms-transform: rotate(90deg) translateY(10px);
	-o-transform: rotate(90deg) translateY(10px);
	transform: rotate(90deg) translateY(10px);
}

section.type-2 .product .inner .another-product.next .arrow {
	left: 55px;

	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

section.type-2 .product .inner .another-product.next:hover .arrow {
	-webkit-transform: rotate(-90deg) translateY(10px);
	-ms-transform: rotate(-90deg) translateY(10px);
	-o-transform: rotate(-90deg) translateY(10px);
	transform: rotate(-90deg) translateY(10px);
}

section.type-2 .product .side {
	width: 400px;
	height: 235px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;

	cursor: pointer;
}

section.type-2 .product .side.left {
	left: -310px;
}

section.type-2 .product .side.right {
	right: -310px;
}

section.type-2 .product .side .images {
	position: relative;
}

section.type-2 .product .side .images img {
	opacity: 0;
	display: block;
	max-height: 263px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

section.type-2 .product .side .images img:nth-child(1) {
	opacity: 0.2;
	position: relative;
}

/*SINGLE PRODUCT*/
section.type-2 .single-product-total-outer .counter {
	margin-right: 25px;
}

section.type-2 .single-product-total-outer .variant-total {
	font-variant: 'Roboto';
	margin: 0px 10px;
}
/*SINGLE PRODUCT END*/
/*SECTION TYPE 2 END*/

/*SECTION TYPE 3*/
section.type-3 {
	background-color: #f7f3ec;
}

section.type-3 .wrapper {
	padding: 160px 0px 160px 0px;
}

section.type-3 .smear-bottom {
	min-width: 100%;
	height: auto;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	top: 0px;
	left: -100%;
	z-index: 77;
}

section.type-3 .smear-top {
	min-width: 100%;
	height: auto;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	bottom: 0px;
	left: -100%;
	z-index: 77;
}

section.type-3 .el-1 {
	text-align: center;
}

section.type-3 .el-2 {
	margin-bottom: 5px;
}

section.type-3 .el-3 {
	margin-bottom: 50px;
}

section.type-3 .el-4 {
	margin-bottom: 25px;
}

section.type-3 .el-5 {
	text-align: center;
}

section.type-3 .row.type-2 {
	margin-bottom: 135px;
}

section.type-3 .row.type-2 .blocks.type-1 {
	max-width: 1000px;
	margin: 0px auto;
}

section.type-3 .row.type-2 .blocks.type-1 .block {
	width: calc(50% - 27px);
	position: relative;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-1 img {
	display: block;
	max-width: 135%;
	position: absolute;
	top: -23px;
	left: -90px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 {
	padding-left: 45px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li {
	position: relative;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li:not(:nth-last-child(1)) {
	margin-bottom: 30px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number {
	position: absolute;
	top: 0px;
	left: -70px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number .lines {
	height: 1px;
	margin-right: 10px;
	position: relative;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number .lines > * {
	background-color: #c3242b;
	height: 100%;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number .lines > *:nth-child(1) {
	width: 2px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number .lines > *:nth-child(2) {
	width: 5px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number .lines > *:nth-child(3) {
	width: 11px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}

section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li .number span {
	font-family: 'Cormorant Infant';
	font-size: 16px;
	font-weight: 600;
	color: #c3242b;
}

section.type-3 .row.type-3 {
	margin-bottom: 50px;
	position: relative;
	z-index: 55;
}

section.type-3 .row.type-3 .inner {
	text-align: center;
	max-width: 1000px;
	padding: 50px 55px;
	margin: 0px auto;
	position: relative;
}

section.type-3 .row.type-3 .inner .frame-1 {
	border: 1px solid #baa88b;
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-3 .row.type-3 .inner .frame-2 {
	border: 1px solid #baa88b;
	width: calc(100% - 8px);
	height: calc(100% + 8px);
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}
/*SECTION TYPE 3 END*/

/*SECTION TYPE 4*/
section.type-4 .wrapper {
	padding: 30px 0px 60px 0px;
}

section.type-4.var-b .wrapper {
	padding-top: 60px;
}

section.type-4 .el-1 {
	text-align: center;
}

section.type-4 .el-2 {
	margin-bottom: 5px;
}

section.type-4 .el-3 {
	margin-bottom: 80px;
}

section.type-4 .el-4 {
	margin-bottom: 10px;
}

section.type-4 .el-5 {
	margin-bottom: 35px;
}

section.type-4 .el-6 {
	margin-bottom: 10px;
}

section.type-4 .el-7 {
	text-align: center;
}

section.type-4 .review {
	margin-bottom: 45px;
	position: relative;
}

section.type-4 .review .inner {
	background-color: #fff;
	max-width: 1000px;
	padding: 40px 50px;
	margin: 0px auto;
	position: relative;
}

section.type-4 .review .inner .frame-1 {
	border: 1px solid #e2d6c3;
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-4 .review .inner .frame-2 {
	border: 1px solid #e2d6c3;
	width: calc(100% - 8px);
	height: calc(100% + 8px);
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-4 .review .slides-counter {
	font-family: 'Cormorant Infant';
	font-size: 20px;
	color: #a0a0a0;
	position: absolute;
	bottom: 20px;
}

section.type-4 .review .slides-counter .current {
	font-size: 36px;
	color: #2d2d2d;
	position: relative;
	top: -6px;
}

section.type-4 .review .inner .blocks.type-1 {
	width: 100%;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 {
	width: 37%;
	padding-right: 55px;
	position: relative;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .list.type-1 {
	position: relative;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .list.type-1 > * {
	opacity: 0;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .list.type-1 > *:nth-child(1) {
	opacity: 1;
	display: block;
	position: relative;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines {
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > * {
	background-color: #e2d6c3;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-child(1),
section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-last-child(1) {
	height: 2px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-child(2),
section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-last-child(2) {
	height: 5px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-child(3),
section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-last-child(3) {
	height: 11px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:nth-child(4) {
	height: calc(100% - 54px);
}

section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines > *:not(:nth-last-child(1)) {
	margin-bottom: 3px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 {
	width: 63%;
	padding-left: 55px;

	overflow: hidden;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 .list.type-2	{
	position: relative;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 .list.type-2	> * {
	opacity: 0;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 .list.type-2	> *:nth-child(1) {
	opacity: 1;
	display: block;
	position: relative;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 .stars i {
	color: #2d2d2d;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 .stars i.active {
	color: #c3242b;
}

section.type-4 .review .inner .blocks.type-1 .block.type-2 .stars i:not(:nth-last-child(1)) {
	margin-right: 7px;
}

section.type-4 .review .inner .another-review {
	width: 85px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;

	cursor: pointer;
}

section.type-4 .review .inner .another-review.prev {
	left: -110px;
}

section.type-4 .review .inner .another-review.next {
	right: -110px;
}

section.type-4 .review .inner .another-review .list {
	font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;   
    letter-spacing: 4px;
    color: #a0a0a0;
    width: 260px;
    flex: 1 0 auto;
    position: absolute;
    z-index: 55;

    overflow: hidden;

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

section.type-4 .review .inner .another-review.prev .list {
	left: -50px;
}

section.type-4 .review .inner .another-review.next .list {
	right: -50px;
}

section.type-4 .review .inner .another-review .list > * {
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-4 .review .inner .another-review .list > *:nth-child(1) {
	opacity: 1;
	position: relative;
}

section.type-4 .review .inner .another-review .arrow {
	width: 11px;
	position: relative;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-4 .review .inner .another-review.prev .arrow {
	left: 20px;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

section.type-4 .review .inner .another-review.prev:hover .arrow {
	left: 10px;
}

section.type-4 .review .inner .another-review.next .arrow {
	left: 55px;

	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

section.type-4 .review .inner .another-review.next:hover .arrow {
	left: 65px;
}
/*SECTION TYPE 4 END*/

/*SECTION TYPE 5*/
section.type-5 {
	background-color: #f7f3ec;

	overflow: hidden;
}

section.type-5.var-b {
	background-color: #fff;
}

section.type-5 .wrapper {
	padding: 160px 0px 160px 0px;
}

section.type-5.var-b .wrapper {
	padding-top: 60px;
	padding-bottom: 140px;
}

section.type-5 .smear-bottom {
	min-width: 100%;
	height: auto;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	top: 0px;
	left: -100%;
	z-index: 77;
}
section.type-5 .el-1 {
	text-align: center;
}

section.type-5 .el-2 {
	margin-bottom: 5px;
}

section.type-5 .el-3 {
	margin-bottom: 70px;
}

section.type-5 .el-4 {
	width: 120%;
	margin-bottom: 10px;
}

section.type-5 .el-5 {
	margin-bottom: 15px;
}

section.type-5 .blocks.type-1 {
	max-width: 1120px;
	margin: 0px auto;
}

section.type-5 .blocks.type-1 .block.type-1 {
	width: 51%;
	padding-right: 65px;
}

section.type-5 .blocks.type-1 .lines {
	width: 100%;
	height: 1px;
	margin: 30px 0px;
}

section.type-5 .blocks.type-1 .lines > * {
	background-color: #bba98c;
}

section.type-5 .blocks.type-1 .lines > *:nth-child(1),
section.type-5 .blocks.type-1 .lines > *:nth-last-child(1) {
	width: 2px;
}

section.type-5 .blocks.type-1 .lines > *:nth-child(2),
section.type-5 .blocks.type-1 .lines > *:nth-last-child(2) {
	width: 5px;
}

section.type-5 .blocks.type-1 .lines > *:nth-child(3),
section.type-5 .blocks.type-1 .lines > *:nth-last-child(3) {
	width: 11px;
}

section.type-5 .blocks.type-1 .lines > *:nth-child(4) {
	width: calc(100% - 54px);
}

section.type-5 .blocks.type-1 .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}

section.type-5 .blocks.type-1 .elements.type-1 .link {
	width: 215px;
}

section.type-5 .blocks.type-1 .elements.type-2 .element {
	width: 215px;
	margin-bottom: 60px;
}

section.type-5 .blocks.type-1 .elements.type-2 .element .link {
	display: inline-block;
}

section.type-5 .blocks.type-1 .elements.type-2 .element .link:hover {
	color: #2d2d2d;
}

section.type-5 .blocks.type-1 .block.type-2 {
	width: 49%;
}

section.type-5 .blocks.type-1 .block.type-2 .map {
	width: 700px;
	height: 640px;

	-webkit-box-shadow: -25px 25px 40px -15px rgba(0,0,0,0.06);
	-moz-box-shadow: -25px 25px 40px -15px rgba(0,0,0,0.06);
	box-shadow: -25px 25px 40px -15px rgba(0,0,0,0.06);
}
/*SECTION TYPE 5 END*/

/*SECTION TYPE 6*/
section.type-6 .wrapper {
	padding: 60px 0px 140px 0px;

	overflow: hidden;
}

section.type-6 .el-1 {
	text-align: center;
}

section.type-6 .el-2 {
	margin-bottom: 5px;
}

section.type-6 .el-3 {
	margin-bottom: 75px;
}

section.type-6 .blocks.type-1 {
	margin: 0px auto;
	position: relative;
}

section.type-6 .blocks.type-1 .block.type-1 {
	/*outline: 1px solid red;*/
	border-top: 1px solid #e8e8e8;
	width: 330px;
	padding: 70px 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-6 .blocks.type-1 .block.type-1.fixed {
	position: fixed;
}

section.type-6 .category-title-adaptive {
	display: none;
}

section.type-6 .blocks.type-1 .block.type-1 .item {
	padding-left: 55px;
	padding-right: 25px;
	position: relative;

	cursor: pointer;
}

section.type-6 .blocks.type-1 .block.type-1 .item:not(:nth-last-child(1)) {
	margin-bottom: 60px;
}

section.type-6 .blocks.type-1 .block.type-1 .item .icon {
	text-align: center;
	width: 50px;
	margin-right: 33px;
	position: relative;
}

section.type-6 .blocks.type-1 .block.type-1 .item .icon > * {
	display: inline-block;
	width: 160%;
	vertical-align: middle;
	margin: auto;
	position: absolute;
	top: -100%;
	right: -100%;
	bottom: -100%;
	left: -100%;
}

section.type-6 .blocks.type-1 .block.type-1 .item .icon > * * {
	stroke: #bba98c;
	stroke-width: 1px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-1 .item .icon > *#cake_cat * {
	stroke: none;
	fill: #bba98c;
}

section.type-6 .blocks.type-1 .block.type-1 .item .icon > *#macaroon_cat * {
	stroke: none;
	fill: #bba98c;
}

section.type-6 .blocks.type-1 .block.type-1 .item .icon > *#pie_cat * {
	stroke: none;
	fill: #bba98c;
}

section.type-6 .blocks.type-1 .block.type-1 .item.active .icon > * * {
	stroke: #c3242b;
}

section.type-6 .blocks.type-1 .block.type-1 .item.active .icon > *#cake_cat * {
	stroke: none;
	fill: #c3242b;
}

section.type-6 .blocks.type-1 .block.type-1 .item.active .icon > *#macaroon_cat * {
	stroke: none;
	fill: #c3242b;
}

section.type-6 .blocks.type-1 .block.type-1 .item.active .icon > *#pie_cat * {
	stroke: none;
	fill: #c3242b;
}

section.type-6 .blocks.type-1 .block.type-1 .item .text {
	font-family: 'Cormorant Infant';
	font-size: 24px;
	font-weight: 500;
	color: #2d2d2d;
	opacity: 0.5;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-1 .item.active .text {
	opacity: 1;
}

section.type-6 .blocks.type-1 .block.type-1 .item:before {
	content: '';
	background-color: #bba98c;
	width: 3px;
	height: 0px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;

	cursor: pointer;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-1 .item:hover:before {
	height: 30px;
}

section.type-6 .blocks.type-1 .block.type-1 .item.active:before {
	background-color: #c3242b;
	height: 30px;
}

section.type-6 .blocks.type-1 .block.type-2 {
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	width: calc(100% - 330px);
	position: relative;
	left: 330px;
}

section.type-6.var-b .blocks.type-1 .block.type-2 {
	width: 100%;
	left: 0px !important;
}

section.type-6 .blocks.type-1 .block.type-2 .mCSB_scrollTools {
	right: -7px;
}

section.type-6 .blocks.type-1 .block.type-2 .mCSB_inside>.mCSB_container {
	margin-right: 0px;
}

section.type-6 .blocks.type-1 .block.type-2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #c3242b;
	width: 2px;
	border-radius: 0px;
}

section.type-6 .blocks.type-1 .block.type-2 .mCSB_scrollTools .mCSB_draggerRail {
	background: none;
}

section.type-6 .blocks.type-1 .block.type-2 .divider {
	opacity: 0;
	background-color: #c3242b;
	width: 100%;
	height: 0px;
}

section.type-6 .blocks.type-1 .block.type-2 .item {
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	width: 25%;
	height: 370px;
	padding: 20px;
	position: relative;

	overflow: hidden;
}

section.type-6.var-b .blocks.type-1 .block.type-2 .item {
	width: 25%;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-1:before {
	content: '';
	opacity: 0;
	background-color: #c3242b;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 44;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-1:hover:before {
	opacity: 1;
}

section.type-6 .blocks.type-1 .block.type-2 .item .info-icon {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 55;

	cursor: pointer;
}

section.type-6 .blocks.type-1 .block.type-2 .item .info-icon:before {
	content: '';
	border: 1px solid #c3242b;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item .info-icon span {
	font-family: 'Cormorant Infant';
	font-size: 22px;
	color: #c3242b;
	display: block;
	position: relative;
	top: -1px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item .info-icon:hover:before {
	background-color: #c3242b;
}

section.type-6 .blocks.type-1 .block.type-2 .item .info-icon:hover span {
	color: #fff;
}

section.type-6 .blocks.type-1 .block.type-2 .item .image {
	margin-bottom: 30px;
	position: relative;
}

section.type-6 .blocks.type-1 .block.type-2 .item .image > * {
	display: block;
	max-width: calc(100% - 70px);
	max-height: 160px;
	margin-right: auto;
	margin-left: auto;
	z-index: 33;
}

section.type-6.var-b .blocks.type-1 .block.type-2 .item .image > * {
	max-height: 220px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6.var-b .blocks.type-1 .block.type-2 .item:hover .image > * {
	max-height: 160px;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-1 .image:before {
	content: '';
	opacity: 0;
	background-image: url(../img/cross.png);
	width: 100px;
	height: 100px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 55;

	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-1:hover .image:before {
	opacity: 1;

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

section.type-6 .blocks.type-1 .block.type-2 .item .text-1 {
	font-family: 'Cormorant Infant';
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: #2d2d2d;
	position: relative;
	z-index: 55;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-1:hover .text-1 {
	color: #fff;
}

section.type-6 .blocks.type-1 .block.type-2 .item .text-2 {
	font-family: 'Cormorant Infant';
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: #717171;
	position: relative;
	z-index: 55;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-1:hover .text-2 {
	color: #fff;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-2 .text-2 {
	margin-bottom: 20px;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-2 .action {
	position: relative;
	margin-bottom: -64px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-2:hover .action {
	margin-bottom: 0px;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-2 .counter {
	margin-right: 25px;
}

section.type-6 .blocks.type-1 .block.type-2 .item.type-2 .counter .variant-total {
    font-family: 'Roboto';
    margin: 0px 10px;
}
/*SECTION TYPE 6 END*/

/*SECTION TYPE 7*/
section.type-7 {
	min-height: calc(100vh - 200px);
}

section.type-7 .wrapper {
	padding: 60px 0px 120px 0px;

	overflow: hidden;
}

section.type-7 .el-1 {
	text-align: center;
	margin-bottom: 75px;
}

section.type-7 .el-2 {
	margin-bottom: 25px;
}

section.type-7 .el-3 {
	margin-top: 55px;
}

section.type-7 .blocks.type-1 .block.type-1 {
	width: 385px;
	padding-right: 55px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li {
	padding-left: 65px;
	position: relative;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li:not(:nth-last-child(1)) {
	margin-bottom: 30px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number {
	position: absolute;
	top: -2px;
	left: 0px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number .lines {
	height: 1px;
	margin-right: 10px;
	position: relative;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number .lines > * {
	background-color: #c3242b;
	height: 100%;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number .lines > *:nth-child(1) {
	width: 2px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number .lines > *:nth-child(2) {
	width: 5px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number .lines > *:nth-child(3) {
	width: 11px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}

section.type-7 .blocks.type-1 .block.type-1 .list.type-1 ul li .number span {
	font-family: 'Cormorant Infant';
	font-size: 16px;
	font-weight: 600;
	color: #c3242b;
}

section.type-7 .blocks.type-1 .block.type-2 {
	width: 775px;
}

section.type-7 .blocks.type-1 .block.type-2 .sides .side-1 {
	width: 440px;
	padding-right: 100px; 
}

section.type-7 .blocks.type-1 .block.type-2 .sides .side-2 {
	width: 335px;
}

section.type-7 .blocks.type-1 .block.type-2 .input-outer.submit {
	text-align: center;
}

section.type-7 .for-radio-2 {
	display: none;
}

section.type-7 .blocks.type-1 .block.type-2 .order-total {
	text-align: center;
	margin-bottom: 45px;
}

section.type-7 .blocks.type-1 .block.type-2 .order-total .total.active span.total-cost-text {
	color: #c3242b;
}

section.type-7 .blocks.type-1 .block.type-2 .delivery-text {
	color: #d0d0d0;
	display: none;
}
/*SECTION TYPE 7 END*/

/*SECTION TYPE 8*/
section.type-8 {
	background-color: #f7f3ec;
}

section.type-8 .smear-bottom {
	min-width: 100%;
	height: auto;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	top: 0px;
	left: -100%;
	z-index: 77;
}

section.type-8 .el-1 {
	text-align: center;
	margin-bottom: 75px;
}

section.type-8 .wrapper {
	padding: 160px 0px 110px 0px;
}

section.type-8 .blocks.type-1 .block.type-1 {
	width: 330px;
}

section.type-8 .blocks.type-1 .block.type-2 {
	width: 470px;
}

section.type-8 .blocks.type-1 .stars > .star-outer {
	display: inline-block;
	position: relative;

	cursor: pointer;
}

section.type-8 .blocks.type-1 .stars > .star-outer:before {
	content: '';
	width: 165%;
	height: 100%;
	margin: auto;
	position: absolute;
	top: -100%;
	right: -100%;
	bottom: -100%;
	left: -100%;
}

section.type-8 .blocks.type-1 .stars > .star-outer:not(:nth-last-child(1)) {
	margin-right: 7px;
}

section.type-8 .blocks.type-1 .stars i {
	color: #2d2d2d;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-8 .blocks.type-1 .stars .star-outer.active i,
section.type-8 .blocks.type-1 .stars .star-outer.hovered i {
	color: #c3242b;
}

section.type-8 .blocks.type-1 .stars > .star-outer i:nth-last-child(1) {
	opacity: 0;
	color: #c3242b;
	margin: auto;
	position: absolute;
	top: 3px;
	left: 0px;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;

	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

section.type-8 form .input-outer.submit {
	text-align: center;
	margin-top: 30px;
}
/*SECTION TYPE 8 END*/

/*SECTION TYPE 9*/
section.type-9 {
	z-index: 55;
}

section.type-9.var-b {
	background-color: #f7f3ec;
}

section.type-9 .wrapper {
	padding: 160px 0px 140px 0px;
}

section.type-9 .el-1 {
	text-align: center;
}

section.type-9 .el-2 {
	margin-bottom: 5px;
}

section.type-9 .el-3 {
	margin-bottom: 75px;
}

section.type-9 .el-4 {
	margin-bottom: 15px;
}

section.type-9 .el-5 {
	text-align: center;
}

section.type-9 .el-6 .refresh-outer {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 15px;
	margin-top: -3px;
	margin-left: 15px;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-9 .el-6:hover .refresh-outer {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

section.type-9 .el-6 i {
	font-size: 16px;
}

section.type-9 .el-6 .icon-outer {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 2px;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-9 .el-6:hover .icon-outer {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

section.type-9 .smear-bottom {
	min-width: 100%;
	height: auto;
	margin: 0px auto;
	position: absolute;
	right: -100%;
	top: 0px;
	left: -100%;
	z-index: 77;
}

section.type-9 .blocks.type-1 .block.type-1 {
	text-align: center;
	width: calc(33.3333% - 11px);
	height: 390px;
	margin-bottom: 70px;
}

section.type-9 .blocks.type-1 .block.type-1 .image-outer {
	width: 100%;
	height: 315px;
	padding: 7px 0px;
	margin-bottom: 10px;
	position: relative;
}

section.type-9 .blocks.type-1 .block.type-1 .image-outer .image {
	background-size: cover;
	background-position: top center;
	display: block;
	width: 100%;
	height: 100%;
}

section.type-9 .blocks.type-1 .block.type-1 .image-outer .frame {
	border: 1px solid #e2d6c3;
	width: calc(100% - 12px);
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}

section.type-9 .blocks.type-1 .block.type-1 .image-outer:before {
	content: '';
	opacity: 0;
	background-color: #c3242b;
	width: 100%;
	height: calc(100% - 14px);
	position: absolute;
	top: 7px;
	left: 0px;
	z-index: 44;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-9 .blocks.type-1 .block.type-1:hover .image-outer:before {
	opacity: 1;
}

section.type-9 .blocks.type-1 .block.type-1 .image-outer:after {
	content: '';
	opacity: 0;
	background-image: url(../img/cross.png);
	width: 100px;
	height: 100px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 55;

	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-9 .blocks.type-1 .block.type-1:hover .image-outer:after {
	opacity: 1;

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/*SECTION TYPE 9 END*/

/*SECTION TYPE 10*/
section.type-10 .wrapper {
	padding: 60px 0px 50px 0px;
}

section.type-10  .content {
	font-size: 16px;
	line-height: 28px;
}

section.type-10 .el-1 {
	text-align: center;
}

section.type-10 .el-2 {
	margin-bottom: 5px;
}

section.type-10 .el-3 {
	margin-bottom: 75px;
}

section.type-10 .el-4 {
	margin-bottom: 25px;
}

section.type-10 .el-5 {
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

section.type-10 .el-5:after {
	content: '';
	opacity: 0.3;
	background-color: #2d2d2d;
	width: 22px;
	height: 1px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	right: -35px;
	bottom: 0px;
}

section.type-10 .row.type-3 {
	max-width: 1490px;
}

section.type-10 .row.type-3 .slider.type-1 {
	width: 100%;
	margin-bottom: 6px;
	position: relative;
	height: 635px;

	overflow: hidden;
}

section.type-10 .row.type-3 .slider.type-1 .images {
	width: 100%;
	height: 100%;
	position: relative;
}

section.type-10 .row.type-3 .slider.type-1 .images .image {
	opacity: 1 !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.type-10 .row.type-3 .slider.type-1 .images .image:nth-child(1) {
	display: block;
	position: relative;
}

section.type-10 .row.type-3 .slider.type-1 .controls {
	width: 100%;
	height: 60px;
	padding: 0px 55px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;

	pointer-events: none;
}

section.type-10 .row.type-3 .slider.type-1 .controls > * {
	background-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: relative;

	pointer-events: all;

	cursor: pointer;
}

section.type-10 .row.type-3 .slider.type-1 .controls > * > * {
	width: 7px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-3 .slider.type-1 .controls > *:hover > * {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}

section.type-10 .row.type-3 .slider.type-1 .controls > *.left {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

section.type-10 .row.type-3 .slider.type-1 .controls > *.right {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

section.type-10 .row.type-3 .slider.type-1 .sharing {
	width: 60px;
	height: 60px;
	margin: 0px auto;
	position: absolute;
	right: 0px;
	bottom: 40px;
	left: 0px;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .main-icon {
	background-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: relative;
	z-index: 66;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .main-icon > * {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-3 .slider.type-1 .sharing:hover .main-icon > * {
	opacity: 0.2;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .another-icons {
	opacity: 0;
	background-color: #fff;
	border-radius: 30px;
	width: 60px;
	height: 145px;
	padding-top: 25px;
	position: absolute;
	bottom: 0px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-3 .slider.type-1 .sharing:hover .another-icons {
	opacity: 1;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .another-icons a {
	text-align: center;
	display: block;
	margin-bottom: 16px;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .another-icons a i {
	font-size: 20px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .another-icons a i.fa-facebook {
	color: #3b5998;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .another-icons a i.fa-twitter {
	color: #64a8f2;
}

section.type-10 .row.type-3 .slider.type-1 .sharing .another-icons a:hover i {
	color: #c3242b;
}

section.type-10 .row.type-3 .slider.type-2 {
	padding: 0px 145px;
	position: relative;
}

section.type-10 .row.type-3 .slider.type-2 ul li {
	background-size: cover;
	background-position: center;
	height: 105px;
	position: relative;
}

section.type-10 .row.type-3 .slider.type-2 ul li:after {
	content: '';
	opacity: 0;
	background-color: rgba(195, 36, 43, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 55;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-3 .slider.type-2 ul li:hover:after {
	opacity: 1;
}

section.type-10 .row.type-3 .slider.type-2 .controls {
	width: 100%;
	height: 33px;
	padding: 0px 55px;
	margin: auto 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;

	pointer-events: none;
}

section.type-10 .row.type-3 .slider.type-2 .controls > * {
	width: 33px;
	height: 33px;
	position: relative;

	pointer-events: all;

	cursor: pointer;
}

section.type-10 .row.type-3 .slider.type-2 .controls > * > * {
	width: 11px;
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-3 .slider.type-2 .controls > *:hover > * {
	-webkit-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
}

section.type-10 .row.type-3 .slider.type-2 .controls > *.left {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

section.type-10 .row.type-3 .slider.type-2 .controls > *.right {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

section.type-10 .row.type-4 {
	max-width: 775px;
	margin: 0px auto;
}

section.type-10 .row.type-4 .content > *:nth-child(1) {
	margin-top: 70px;
}

section.type-10 .row.type-4 .content > *:nth-last-child(1) {
	margin-bottom: 45px;
}

section.type-10 .row.type-4 .lines {
	width: 100%;
	height: 1px;
}

section.type-10 .row.type-4 .lines > * {
	background-color: #bba98c;
}

section.type-10 .row.type-4 .lines > *:nth-child(1),
section.type-10 .row.type-4 .lines > *:nth-last-child(1) {
	width: 2px;
}

section.type-10 .row.type-4 .lines > *:nth-child(2),
section.type-10 .row.type-4 .lines > *:nth-last-child(2) {
	width: 5px;
}

section.type-10 .row.type-4 .lines > *:nth-child(3),
section.type-10 .row.type-4 .lines > *:nth-last-child(3) {
	width: 11px;
}

section.type-10 .row.type-4 .lines > *:nth-child(4) {
	width: calc(100% - 54px);
}

section.type-10 .row.type-4 .lines > *:not(:nth-last-child(1)) {
	margin-right: 3px;
}

section.type-10 .row.type-4 .sharing .icons-outer i {
	font-size: 18px;

	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

section.type-10 .row.type-4 .sharing .icons-outer a:not(:nth-last-child(1)) {
	margin-right: 15px;
}

section.type-10 .row.type-4 .sharing .icons-outer a i.fa-facebook {
	color: #3b5998;
}

section.type-10 .row.type-4 .sharing .icons-outer a i.fa-twitter {
	color: #64a8f2;
}

section.type-10 .row.type-4 .sharing .icons-outer a:hover i {
	color: #c3242b;
}
/*SECTION TYPE 10 END*/

/*SECTION TYPE 11*/
section.type-11 .wrapper-outer {
	min-height: calc(100vh - 80px);
}

section.type-11 .wrapper {
	padding-top: 50px;
}

section.type-11 .el-1 {
	max-width: 100%;
	display: block;
	margin: 0px auto;
	position: relative;
	left: -4%;
}

section.type-11 .el-2 {
	text-align: center;
	margin-top: -50px;
}

section.type-11 .el-3-outer {
	text-align: center;
	margin-top: 25px;
}
/*SECTION TYPE 11 END*/

/*SECTION TYPE 12*/
section.type-12 .wrapper {
    padding-top: 30px;
    padding-bottom: 80px;
}

section.type-12 .el-1 {
	text-align: center;
}

section.type-12 .el-3 {
    margin-bottom: 75px;
}

section.type-12 .el-4 {
	margin-top: 125px;
}

section.type-12 .el-4 .title {
	text-align: center;
	margin: 0px auto;
}

section.type-12 .el-4 .title a {
	color: #cb454a;
}

section.type-12 .elements .element {
	text-align: center;
}

section.type-12 .text-el-1 {
	margin-bottom: 15px;
}
/*SECTION TYPE 12 END*/

/*SECTION TYPE 13*/
section.type-13 .wrapper {
    padding-top: 30px;
    padding-bottom: 80px;
}

section.type-13 .el-1 {
	text-align: center;
}

section.type-13 .el-3 {
    margin-bottom: 75px;
}

section.type-13 .text-el-1 {
	margin-bottom: 45px;
}

section.type-13 .text-el-2 {
	margin-bottom: 45px;
}

section.type-13 .text-el-3 {
	margin-bottom: 20px;
}

section.type-13 .text-el-3 i,
section.type-13 .text-el-4 i {
	font-size: 23px;
}

section.type-13 .text-el-3 span,
section.type-13 .text-el-4 span {
	font-size: 24px;
}
/*SECTION TYPE 13 END*/

/*ADAPTIVE*/
@media screen and (max-width: 1440px) {
	/*COMMONS*/
	body {
		padding-top: 80px;
	}

	/*HEADER*/
	header {
		height: 80px;
	}

	header menu .block.type-3 {
		height: 80px;
	}
	/*HEADER END*/

	/*BASKET MENU*/
	.basket-menu .wrapper {
		padding-top: 25px;
	}

	.basket-menu .blocks.type-1 .block.type-3 {
		height: 80px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.basket-menu .total.active {
		font-size: 22px;
	}
	/*BASKET MENU END*/

	/*FOOTER*/
	
	/*FOOTER END*/
	/*COMMONS END*/

	/*SECTION TYPE 1*/
	section.type-1 .section-type-1-header {
		padding-top: 12px;
	}
	/*SECTION TYPE 1 END*/

	/*SECTION TYPE 2*/
	section.type-2 .el-3 {
		margin-bottom: 25px;
	}

	section.type-2 .el-8 {
		margin-bottom: 10px;
	}

	section.type-2 .wrapper {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	section.type-2.var-a .wrapper {
		padding-top: 30px;
	}
	/*SECTION TYPE 2 END*/

	/*SECTION TYPE 3*/
	section.type-3 .el-3 {
		margin-bottom: 25px;
	}

	section.type-3 .wrapper {
		padding-top: 110px;
		padding-bottom: 80px;
	}

	section.type-3 .row.type-2 {
		margin-bottom: 110px;
	}

	section.type-3 .row.type-2 .blocks.type-1 .block.type-1 img {
		max-width: 115%;
		left: 0px;
	}

	section.type-3 .row.type-2 .blocks.type-1 .block.type-2 ul li:not(:nth-last-child(1)) {
		margin-bottom: 15px;
	}
	/*SECTION TYPE 3 END*/

	/*SECTION TYPE 4*/
	section.type-4 .el-3 {
		margin-bottom: 30px;
	}

	section.type-4 .wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	section.type-4.var-b .wrapper {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	/*SECTION TYPE 4 END*/

	/*SECTION TYPE 5*/
	section.type-5 .el-3 {
		margin-bottom: 45px;
	}

	section.type-5 .wrapper {
		padding-top: 110px;
		padding-bottom: 80px;
	}

	section.type-5.var-b .wrapper {
		padding-top: 30px;
		padding-bottom: 80px;
	}

	section.type-5.var-b .wrapper .smear-bottom {
		display: none;
	}
	/*SECTION TYPE 5 END*/

	/*SECTION TYPE 6*/
	section.type-6 .el-3 {
		margin-bottom: 25px;
	}

	section.type-6 .wrapper {
		padding-top: 30px;
		padding-bottom: 80px; 
	}

	section.type-6 .blocks.type-1 .block.type-1 {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	section.type-6 .blocks.type-1 .block.type-1 .item:not(:nth-last-child(1)) {
		margin-bottom: 25px;
	}

	section.type-6 .blocks.type-1 .block.type-2 .item {
		width: 33.3333%;
		height: 330px;
	}

	section.type-6.var-b .blocks.type-1 .block.type-2 .item .image > * {
		max-height: 180px;
	}

	section.type-6.var-b .blocks.type-1 .block.type-2 .item:hover .image > * {
		max-height: 120px;
	}

	section.type-6 .blocks.type-1 .block.type-2 .item .image > * {
		max-height: 120px;
	}
	/*SECTION TYPE 6 END*/

	/*SECTION TYPE 7*/
	section.type-7 .wrapper {
		padding-top: 30px;
		padding-bottom: 80px;
	}
	/*SECTION TYPE 7 END*/

	/*SECTION TYPE 8*/
	section.type-8 .el-1 {
		margin-bottom: 25px;
	}

	section.type-8 .wrapper {
		padding-top: 110px;
		padding-bottom: 80px;
	}

	section.type-8 form .input-outer.submit {
		margin-bottom: 0px;
	}
	/*SECTION TYPE 8 END*/

	/*SECTION TYPE 9*/
	section.type-9 .el-3 {
		margin-bottom: 25px;
	}

	section.type-9 .el-5 > * {
		display: inline-block;
		margin-bottom: 45px;
	}

	section.type-9 .el-6 .refresh-outer {
		margin-bottom: 70px;
	}

	section.type-9 .wrapper {
		padding-top: 120px;
		padding-bottom: 10px;
	}
	/*SECTION TYPE 9 END*/

	/*SECTION TYPE 10*/
	section.type-10 .el-3 {
		margin-bottom: 25px;
	}

	section.type-10 .wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/*SECTION TYPE 10 END*/

	/*SECTION TYPE 12*/
	section.type-12 .el-3 {
	    margin-bottom: 25px;
	}
	/*SECTION TYPE 12 END*/
	
	/*SECTION TYPE 13*/
	section.type-13 .el-3 {
	    margin-bottom: 25px;
	}
	/*SECTION TYPE 13 END*/
}

@media screen and (max-width: 1366px) {
	/*BASKET MENU*/
	.basket-menu .wrapper {
		padding-right: 25px;
		padding-left: 25px;
	}

	.basket-menu .blocks.type-1 {
		padding-right: 0px;
		padding-left: 0px;
	}

	.basket-menu .blocks.type-1 .block.type-1 .discount {
		margin-right: 110px;
	}

	.basket-menu .blocks.type-1 .block.type-2 .name {
		width: calc(100% - 405px);
	}

	.basket-menu .blocks.type-1 .block.type-2 .info {
		width: 405px;
	}
	/*BASKET MENU END*/

	/*MENU*/
	header menu .list.type-1 ul {
		margin-bottom: 20px;
	}

	header menu .list.type-1 li:not(:nth-last-child(1)) {
		margin-bottom: 10px;
	}

	header menu .list.type-1 ul li a {
		font-size: 26px;
	}
	/*MENU END*/

	/*SECTION TYPE 10*/
	section.type-10 .row.type-3 .slider.type-2 ul li {
		height: 117px;
	}
	/*SECTION TYPE 10 END*/
}

@media screen and (max-width: 1280px) {
	/*HEADER*/
	header menu .block.type-3 .socials-outer {
		width: auto;
		height: auto;
		position: static;
	}
	/*HEADER END*/

	/*BASKET MENU*/
	.basket-menu .blocks.type-1 .block.type-2 .name {
		width: calc(100% - 340px);
	}

	.basket-menu .blocks.type-1 .block.type-2 .info {
		width: 320px;
	}
	/*BASKET MENU END*/

	/*SECTION TYPE 1*/
	section.type-1 .logo {
		width: 165px;
	}
	/*SECTION TYPE 1 END*/

	/*SECTION TYPE 2*/
	section.type-2 {
		overflow: hidden;
	}

	section.type-2 .product {
		padding: 0px 145px;
	}

	section.type-2 .product .inner {
		padding: 20px 25px;
	}

	section.type-2 .product .inner .images {
		width: calc(100% - 350px)
	}

	section.type-2 .product .info-outer {
		width: 320px;
	}
	/*SECTION TYPE 2 END*/

	/*SECTION TYPE 3*/
	section.type-3 .row.type-2 {
		padding-left: 80px;
	}

	section.type-3 .row.type-3 {
		padding-left: 50px;
	}
	/*SECTION TYPE 3 END*/

	/*SECTION TYPE 4*/
	section.type-4 {
		overflow: hidden;
	}

	section.type-4 .review {
		padding: 0px 145px;
	}

	section.type-4 .review .inner {
		padding: 20px 25px;
	}
	/*SECTION TYPE 4 END*/

	/*SECTION TYPE 5*/
	section.type-5 .el-4 {
		width: 100%;
	}

	section.type-5 .row.type-2 {
		padding-left: 50px;
	}

	section.type-5 .blocks.type-1 .block.type-1 {
		padding-right: 30px;
	}

	section.type-5 .blocks.type-1 .elements.type-2 .element {
		width: 215px;
	}

	section.type-5 .blocks.type-1 .block.type-2 .map {
		width: calc(100% + 25px);
		height: 540px;
	}
	/*SECTION TYPE 5 END*/

	/*SECTION TYPE 6*/
	section.type-6 .blocks.type-1 .block.type-2 .item {
		width: 50%;
	}

	section.type-6.var-b .blocks.type-1 .block.type-2 .item {
		width: 33.33%;
	}
	/*SECTION TYPE 6 END*/

	/*SECTION TYPE 7*/
	section.type-7 .blocks.type-1 .block.type-2 .sides .side-1 {
		width: calc(50% - 25px);
		padding-right: 0px;
	}

	section.type-7 .blocks.type-1 .block.type-2 .sides .side-2 {
		width: calc(50% - 25px);
	}
	/*SECTION TYPE 7 END*/

	/*SECTION TYPE 8*/
	section.type-8 .blocks.type-1 .block.type-1,
	section.type-8 .blocks.type-1 .block.type-2,
	section.type-8 .blocks.type-1 .block.type-3 {
		width: calc(33.33% - 33px);
	}
	/*SECTION TYPE 8 END*/

	/*SECTION TYPE 10*/
	section.type-10 .row.type-3 .slider.type-2 ul li {
		height: 70px;
	}
	/*SECTION TYPE 10 END*/
}

@media screen and (max-width: 1024px) {
	/*TITLES*/
	.title.type-1 {
		font-size: 56px;
		line-height: 56px;
	}
	/*TITLES END*/

	/*BASKET MENU*/
	.basket-menu {
		width: 100%;
	}

	.basket-menu .wrapper {
		max-width: 100%;
	}

	.basket-menu .blocks.type-1 .block.type-1 .discount {
		margin-right: 85px;
	}

	.basket-menu .blocks.type-1 .block.type-2 .name {
	    width: calc(100% - 355px);
	}

	.basket-menu .blocks.type-1 .block.type-2 .info {
		width: 355px;
	}
	/*BASKET MENU END*/

	/*HEADER*/
	header .logo:hover > * .st3,
	header .logo:hover > * .st3 {
		fill: #fff;
	}

	header .el-a1 {
		display: none;
	}

	header menu .language-outer {
		left: 70px;
	}

	header menu .block.type-3 {
		padding: 10px 0px;
	}

	header menu .block.type-3 .el-a2 {
		width: initial;
		height: initial;
		position: static;
	}
	/*HEADER END*/

	/*FOOTER*/
	footer .el-1,
	footer .el-2,
	footer .el-3 {
		margin-bottom: 50px;
	}

	footer .el-3 {
		padding-left: 25px;
	}
	/*FOOTER END*/

	/*SECTION TYPE 1*/
	section.type-1 video {
		display: none;
	}

	section.type-1 .section-type-1-header .column {
		margin-bottom: 25px;
	}

	section.type-1 .language-outer {
		right: 7px;
	}
	/*SECTION TYPE 1 END*/

	/*SECTION TYPE 2*/
	section.type-2 .product .inner {
		height: auto;
	}

	section.type-2 .product .inner .product-row {
		padding-top: 50px;
		padding-right: 15px;
		padding-left: 15px;
	}

	section.type-2 .product .inner .images {
		width: 100%;
		margin-bottom: 50px;
	}

	section.type-2 .product .info-outer {
		width: 100%;
	}
	/*SECTION TYPE 2 END*/

	/*SECTION TYPE 3*/
	section.type-3 .row.type-2 .blocks.type-1 .block.type-1 img {
		max-width: 155%;
	}
	/*SECTION TYPE 3 END*/

	/*SECTION TYPE 4*/
	section.type-4 .review .inner .blocks.type-1 .block.type-1 {
		width: 100%;
		margin-bottom: 75px;
		order: 2;
	}

	section.type-4 .review .inner .blocks.type-1 .block.type-2 {
		width: 100%;
		padding-left: 0px;
		margin-bottom: 25px;
		order: 1;
	}

	section.type-4 .review .inner .blocks.type-1 .block.type-1 .lines {
		display: none;
	}
	/*SECTION TYPE 4 END*/

	/*SECTION TYPE 5*/
	section.type-5 .blocks.type-1 .block.type-1 {
		width: 40%;
	}

	section.type-5 .blocks.type-1 .block.type-2 {
		width: 60%;
	}

	section.type-5 .blocks.type-1 .block.type-1 .elements.type-1 > *:not(:nth-last-child(1)) {
		margin-bottom: 10px;
	}
	/*SECTION TYPE 5 END*/

	/*SECTION TYPE 6*/
	section.type-6 .blocks.type-1 .block.type-2 .item {
		width: 100%;
		padding: 15px;
	}

	section.type-6.var-b .blocks.type-1 .block.type-2 .item {
		width: 50%;
	}

	section.type-6.var-b .blocks.type-1 .block.type-2 .item .image > * {
		max-height: 120px !important;
	}

	section.type-6 .blocks.type-1 .block.type-2 .item.type-2 .action {
		margin-bottom: 0px;
	}
	/*SECTION TYPE 6 END*/

	/*SECTION TYPE 7*/
	section.type-7 .blocks.type-1 .block.type-2 .sides .side-1 {
		width: 100%;
	}

	section.type-7 .blocks.type-1 .block.type-2 .sides .side-2 {
		width: 100%;
	}

	section.type-7 .blocks.type-1 .block.type-1 {
		width: 100%;
		margin-bottom: 60px;
	}
	/*SECTION TYPE 7 END*/

	/*SECTION TYPE 8*/
	section.type-8 .blocks.type-1 .block.type-1,
	section.type-8 .blocks.type-1 .block.type-2,
	section.type-8 .blocks.type-1 .block.type-3 {
		width: calc(33.33% - 25px);
	}
	/*SETION TYPE 8 END*/

	/*SECTION TYPE 9*/
	section.type-9 .blocks.type-1 .block.type-1 {
		width: calc(50% - 8px);
	}

	section.type-9.var-b .blocks.type-1 .block.type-1:nth-last-child(1) {
		display: none;
	}
	/*SECTION TYPE 9 END*/

	/*SECTION TYPE 10*/
	section.type-10 .row.type-3 .slider.type-1 .controls {
		padding: 0px 25px;
	}

	section.type-10 .row.type-3 .slider.type-1 .sharing {
		bottom: 25px;
	}

	section.type-10 .row.type-3 .slider.type-2 ul li {
		height: 100px;
	}
	/*SECTION TYPE 10 END*/
	
	/*SECTION TYPE 11 END*/
	section.type-11 .el-2 {
		margin-top: -30px;
	}
	/*SECTION TYPE 11 END*/
}

@media screen and (min-width: 768px) {
	section.type-6 .blocks.type-1 .block.type-1 .list.type-1 {
		display: block !important;
	}
}

@media screen and (max-width: 767px) {
	body {
		padding-top: 70px;
	}

	section {
		overflow: hidden;
	}

	/*GRID*/
	.column, .columns {
		padding-right: 15px;
		padding-left: 15px;
	}
	/*GRID END*/

	/*TITLES*/
	.title.type-1 {
		font-size: 36px;
		line-height: 36px;
	}

	.title.type-1.var-b img {
		height: 30px;
	}

	.title.type-2 {
		font-size: 10px;
	}

	.title.type-4 {
		font-size: 22px;
		line-height: 22px;
	}
	/*TITLES END*/

	/*TEXT*/
	.text.text-3 {
		font-size: 16px;
	}
	/*TEXT END*/

	/*BUTTONS*/
	.button.type-1 {
		font-size: 11px;
		letter-spacing: 1px;
		padding: 10px 30px;
	}

	.button.type-3 {
		font-size: 11px;
		letter-spacing: 1px;
		padding: 10px 30px;
	}
	/*BUTTONS END*/

	/*LINKS*/
	.link.type-1 img.left {
		right: 25px;
	}
	/*LINKS END*/

	/*FORMS*/
	.input-outer {
		margin-bottom: 40px;
	}

	.input-outer.has-error {
		margin-bottom: 70px;
	}
	/*FORMS END*/

	/*HEADER*/
	header {
		height: 70px;

		pointer-events: all;

		-webkit-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}

	header.hidden {
		opacity: 0;

		pointer-events: none;
	}

	header.menu-opened {
		opacity: 1;

		pointer-events: all;
	}

	header .logo {
		width: 145px;
	}

	header .logo > * .st3,
	header .logo > * .st3 {
		fill: #fff;
	}

	header .language-outer {
		opacity: 0;
		margin-left: 30px;

		pointer-events: none;
	}

	header.menu-opened .language-outer {
		opacity: 1;

		pointer-events: all;
	}

	.menu-button {
		width: 48px;
		height: 48px;
	}

	.menu-button .inner .lines {
		width: 25px;
	}

	header .discount {
		display: none;
	}

	header .basket {
		position: relative;
		z-index: 77;
	}

	header menu {
		width: 100%;
	}

	header menu .wrapper {
		padding-right: 15px;
		padding-left: 15px;
	}

	header menu .blocks.type-1 {
		padding: 0px;
	}

	header menu .language-outer {
		left: 85px;
		top: -16px;
	}

	header menu .list.type-1 li:not(:nth-last-child(1)) {
		margin-bottom: 5px;
	}

	header menu .list.type-1 ul li a {
		font-size: 20px;
	}

	header menu .block.type-2 {
		text-align: center;
	}

	header menu .discount {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;

		margin-right: 0px;
		margin-bottom: 20px;
		position: relative;
		z-index: 55;
	}
	/*HEADER END*/

	/*BASKET MENU*/
	.basket-menu .el-2 {
		width: auto;
		margin-right: 0px;
		position: absolute;
		top: 58px;
		right: 15px;
	}

	.basket-menu .wrapper {
		padding-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.basket-menu .blocks.type-1 {
		padding: 0px;
	}

	.basket-menu .blocks.type-1 .block.type-1 .discount {
		margin-right: 15px;
		position: absolute;
		top: 60px;
		left: 15px;
	}

	.basket-menu .blocks.type-1 .block.type-2 {
		height: calc(100% - 230px);
		margin-top: 20px;
	}

	.basket-menu .blocks.type-1 .block.type-2 .list.type-1 > *:not(:nth-last-child(1)) {
		margin-bottom: 30px;
	}

	.basket-menu .blocks.type-1 .block.type-2 .name {
		width: 100%;
		margin-bottom: 15px;
	}

	.basket-menu .blocks.type-1 .block.type-2 .info {
		width: 100%;
		position: relative;
	}

	.basket-menu .blocks.type-1 .block.type-2 .info .price {
		width: auto;
	}

	.basket-menu .blocks.type-1 .block.type-2 .info .remove {
		position: absolute;
		top: -32px;
		right: 0px;
	}
	/*BASKET MENU END*/

	.back-call-button-outer {
		right: 15px;
	}

	/*FOOTER*/
	
	/*FOOTER END*/

	/*SECTION PAGINATION*/
	.section-pagination {
		display: none;
	}
	/*SECTION PAGINATION END*/

	/*SECTION TYPE 1*/
	section.type-1 {
		min-height: 568px;
	}

	section.type-1 .logo {
		width: 145px;
	}

	section.type-1 .section-type-1-header .column:nth-last-child(1) {
		display: none;
	}

	section.type-1 .section-type-1-header .column .menu,
	section.type-1 .section-type-1-header .column .basket {
		display: none;
	}

	section.type-1 .section-type-1-header .column .menu-button {
		display: block;
	}

	section.type-1 .buttons-outer > *:not(:nth-last-child(1)) {
		margin-right: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
	}

	section.type-1 .tip-arrow {
		bottom: 40px;
	}

	section.type-1 .socials {
		bottom: 40px;
	}
	/*SECTION TYPE 1 END*/

	/*SECTION TYPE 2*/
	section.type-2 .el-2 {
		margin-bottom: 15px;
	}

	section.type-2 .el-5 {
		min-height: 35px;
	}

	section.type-2.var-a .wrapper {
		padding-top: 60px;
	}
	
	section.type-2 .product {
		padding: 0px;
	}

	section.type-2 .product .inner {
		padding: 15px;
	}

	section.type-2 .product .inner .images img {
		max-height: 153px;
	}

	section.type-2 .product .side .images img {
		max-height: 153px;
	}

	section.type-2 .product .side {
		top: -200px;
	}

	section.type-2 .product .inner .another-product {
		top: 220px;
		bottom: initial;
	}

	section.type-2 .product .inner .another-product.prev {
		left: 15px;
	}

	section.type-2 .product .inner .another-product.next {
		right: 15px;
	}

	section.type-2 .product .inner .another-product .list > * {
		display: none;
	}

	section.type-2 .product .inner .product-row {
		padding-right: 0px;
		padding-left: 0px;
	}

	section.type-2 .product .info-outer .info {
		height: auto;
	}

	section.type-2 .product .variants {
		max-width: 100%;
	}

	section.type-2 .product .variants .price {
		width: 100px;
	}

	/*SINGLE PRODUCT*/
	section.type-2 .single-product-total-outer .counter {
		margin-right: 25px;
	}
	/*SINGLE PRODUCT END*/
	/*SECTION TYPE 2 END*/

	/*SECTION TYPE 3*/
	section.type-3 .el-2 {
		margin-bottom: 15px;
	}

	section.type-3 .wrapper {
		padding-top: 60px;
		padding-bottom: 20px;
	}

	section.type-3 .row.type-2 {
		padding-left: 0px;
		margin-bottom: 80px;
	}

	section.type-3 .row.type-2 .blocks.type-1 .block {
		width: 100%;
	}

	section.type-3 .row.type-2 .blocks.type-1 .block.type-1 img {
		max-width: 110%;
		position: relative;
		top: 0px;
		left: -5%;
	}

	section.type-3 .row.type-2 .blocks.type-1 .block.type-2 {
		padding-left: 75px;
	}

	section.type-3 .row.type-3 {
		padding-left: 0px;
	}

	section.type-3 .row.type-3 .inner {
		padding: 15px 20px;
	}
	/*SECTION TYPE 3 END*/

	/*SECTION TYPE 4*/
	section.type-4 .review {
		padding: 0px;
	}

	section.type-4 .review .inner .blocks.type-1 .block.type-1 {
		margin-bottom: 0px;
	}

	section.type-4 .review .inner .blocks.type-1 .block.type-2 {
		margin-top: 75px;
	}

	section.type-4 .review .slides-counter {
		top: 25px;
		bottom: initial;
	}
	/*SECTION TYPE 4 END*/

	/*SECTION TYPE 5*/
	section.type-5 .wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	section.type-5 .el-2 {
		margin-bottom: 15px;
	}

	section.type-5 .row.type-2 {
		padding-left: 0px;
	}

	section.type-5 .blocks.type-1 .block.type-1 {
		width: 100%;
	}

	section.type-5 .blocks.type-1 .block.type-2 {
		width: 100%;
	}

	section.type-5 .blocks.type-1 .elements.type-2 .element {
		margin-bottom: 45px;
	}

	section.type-5 .blocks.type-1 .block.type-2 .map {
		width: 100%;
	}
	/*SECTION TYPE 5 END*/

	/*SECTION TYPE 6*/
	section.type-6 .wrapper {
		padding-bottom: 60px;
	}

	section.type-6 .el-2 {
		margin-bottom: 15px;
	}

	section.type-6 .blocks.type-1 .block.type-1 {
		background-color: #fff;
		width: 100%;
		padding: 12px 0px;
		z-index: 99;
	}

	section.type-6 .category-title-adaptive {
		display: block;
	}

	section.type-6 .category-title-adaptive:after {
		content: '';

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 5px 0 5px;
		border-color: #c3242c transparent transparent transparent;

		position: absolute;
		top: 25px;
		right: 15px;
	}

	section.type-6 .category-title-adaptive.active:after {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	section.type-6 .category-title-adaptive .item {
		display: none;

		margin-bottom: 0px !important;
	}

	section.type-6 .category-title-adaptive .item.active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	section.type-6 .blocks.type-1 .block.type-1 .list.type-1 {
		display: none;
		padding-top: 30px;
	}

	section.type-6 .blocks.type-1 .block.type-1 .item:not(:nth-last-child(1)) {
		margin-bottom: 20px;
	}

	section.type-6 .blocks.type-1 .block.type-1 .item {
		padding-right: 15px;
		padding-left: 15px;
	}

	section.type-6 .blocks.type-1 .block.type-1 .item .icon {
		margin-right: 30px;
	}

	section.type-6 .blocks.type-1 .block.type-1 .item .icon > * {
		width: 145%;
	}

	section.type-6 .blocks.type-1 .block.type-2 {
		border-left: 0px solid red;
		width: 100%;
		margin-top: 61px;
		left: 0px;
	}

	section.type-6 .blocks.type-1 .block.type-2 .item {
		border-right: 0px solid red;
		width: 100% !important;
	}

	section.type-6 .blocks.type-1 .block.type-2 .item .image > * {
		max-height: 135px;
	}

	section.type-6.var-b .blocks.type-1 .block.type-2 .item .image > * {
		max-height: 135px !important;
	}
	/*SECTION TYPE 6 END*/

	/*SECTION TYPE 7*/
	section.type-7 .wrapper {
		padding-bottom: 60px;
	}

	section.type-7 .blocks.type-1 .block.type-2 {
		width: 100%;
	}

	section.type-7 .blocks.type-1 .block.type-2 .order-total {
		margin-bottom: 25px;
	}
	/*SECTION TYPE 7 END*/

	/*SECTION TYPE 8*/
	section.type-8 .wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	section.type-8 .blocks.type-1 .block.type-1,
	section.type-8 .blocks.type-1 .block.type-2,
	section.type-8 .blocks.type-1 .block.type-3 {
		width: 100%;
	}

	section.type-8 form .input-outer.submit {
		margin-top: 0px;
	}
	/*SECTION TYPE 8 END*/

	/*SECTION TYPE 9*/
	section.type-9 .el-2 {
		margin-bottom: 15px;
	}

	section.type-9 .blocks.type-1 .block.type-1 {
		width: 100%;
		height: auto;
		margin-bottom: 50px;
	}

	section.type-9 .blocks.type-1 .block.type-1 .image-outer {
		height: 215px;
	}
	/*SECTION TYPE 9 END*/

	/*SECTION TYPE 10*/
	section.type-10 .el-2 {
		margin-bottom: 15px;
	}

	section.type-10 .row.type-1 {
		display: none;
	}

	section.type-10 .row.type-3 .slider.type-1 {
		height: 215px;
	}

	section.type-10 .row.type-3 .slider.type-1 .controls {
		padding: 0px 7px;
	}

	section.type-10 .row.type-3 .slider.type-1 .controls > *.left {
		-webkit-transform: rotate(90deg) scale(0.75);
		-ms-transform: rotate(90deg) scale(0.75);
		-o-transform: rotate(90deg) scale(0.75);
		transform: rotate(90deg) scale(0.75);
	}

	section.type-10 .row.type-3 .slider.type-1 .controls > *.right {
		-webkit-transform: rotate(-90deg) scale(0.75);
		-ms-transform: rotate(-90deg) scale(0.75);
		-o-transform: rotate(-90deg) scale(0.75);
		transform: rotate(-90deg) scale(0.75);
	}

	section.type-10 .row.type-3 .slider.type-1 .sharing {
		bottom: 7px;

		-webkit-transform: scale(0.75);
		-ms-transform: scale(0.75);
		-o-transform: scale(0.75);
		transform: scale(0.75);
	}

	section.type-10 .row.type-3 .slider.type-2 .controls {
		padding: 0px 7px;
	}

	section.type-10 .row.type-3 .slider.type-2 .controls > *.left {
		-webkit-transform: rotate(90deg) scale(0.75);
		-ms-transform: rotate(90deg) scale(0.75);
		-o-transform: rotate(90deg) scale(0.75);
		transform: rotate(90deg) scale(0.75);
	}

	section.type-10 .row.type-3 .slider.type-2 .controls > *.right {
		-webkit-transform: rotate(-90deg) scale(0.75);
		-ms-transform: rotate(-90deg) scale(0.75);
		-o-transform: rotate(-90deg) scale(0.75);
		transform: rotate(-90deg) scale(0.75);
	}

	section.type-10 .row.type-3 .slider.type-2 {
		padding: 0px 55px;
	}

	section.type-10 .row.type-3 .slider.type-2 ul li {
		height: 85px;
	}
	/*SECTION TYPE 10 END*/

	/*SECTION TYPE 11 END*/
	section.type-11 .wrapper-outer {
		min-height: calc(100vh - 70px);
	}

	section.type-11 .el-2 {
		margin-top: 0px;
	}
	/*SECTION TYPE 11 END*/

	/*SECTION TYPE 12*/
	section.type-12 .el-3 {
	    margin-bottom: 75px;
	}

	section.type-12 .el-4 {
		margin-top: 75px;
	}

	section.type-12 .elements .element:not(:nth-last-child(1)) {
		margin-bottom: 25px;
	}
	/*SECTION TYPE 12 END*/

	/*SECTION TYPE 13*/
	section.type-13 .el-4 {
		margin-bottom: 75px;
	}

	section.type-13 .text-el-3 i,
	section.type-13 .text-el-4 i {
		font-size: 14px;
	}

	section.type-13 .text-el-3 span,
	section.type-13 .text-el-4 span {
		font-size: 16px;
	}
	/*SECTION TYPE 13 END*/
}

@media screen and (max-width: 425px) {
	header.menu-opened .menu-button {
		-webkit-transform: translateX(calc(50vw - 38px));
		-ms-transform: translateX(calc(50vw - 38px));
		-o-transform: translateX(calc(50vw - 38px));
		transform: translateX(calc(50vw - 38px));
	}

	header.menu-opened .basket {
		opacity: 0;

		pointer-events: none;
	}

	header menu .language-outer {
		left: 41px;
	}
}
/*ADAPTIVE END*/

/*POP UP*/
.pop-up {
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 111;

	visibility: hidden;
}

.pop-up .inner {
	text-align: center;
	background-color: #fff;
	padding: 40px 50px;
	position: relative;

	pointer-events: all;
}

.pop-up .inner:before {
	content: '';
	border: 1px solid #e2d6c3;
	width: calc(100% - 12px);
	height: calc(100% + 12px);
	margin: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}
/*POP UP END*/ 